body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FaF8;
    font-size: 24px;
    align-items: center;
    
}



.header-right ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: 16px;
}


.header-left img {
    width: 70px;
    height: auto;
}