* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.nav img {
    height: auto;
    width: 60px;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
    color: #F9FAF8;
    background-color: #1F2937;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none;
   color: #E5E7EB;
   font-size: 18px;
}